name: Download Release ZIP

# Trigger manually or on push
on:
  workflow_dispatch:  # allows manual trigger
  push:
    branches:
      - main

jobs:
  download-release:
    runs-on: ubuntu-latest
    steps:
      - name: Download angular-build.zip
        run: |
          curl -L -o angular-build.zip \
          -H "Accept: application/octet-stream" \
          https://github.com/sanchaljustgrow/testenvfor-ang/releases/download/build1/angular-build.zip

      - name: Unzip Angular Build
        run: unzip angular-build.zip -d ./release_contents
