name: Angular Auto Build and Release

on:
  push:
    branches: [massin]         
  workflow_dispatch:       

jobs:
  determine-next-build:
    runs-on: ubuntu-latest
    outputs:
      NEXT_TAG: ${{ steps.set-tag.outputs.next_tag }}

    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest build tag
        id: set-tag
        run: |
          # Get the latest tag matching "build*" and sort numerically
          LATEST_TAG=$(git tag --list 'build*' | sort -V | tail -n 1)
          echo "Latest tag: $LATEST_TAG"

          # Extract number or default to 0
          if [[ "$LATEST_TAG" == "" ]]; then
            NEXT_NUMBER=1
          else
            NUMBER=${LATEST_TAG//build/}
            NEXT_NUMBER=$((NUMBER+1))
          fi

          NEXT_TAG="build$NEXT_NUMBER"
          echo "Next tag: $NEXT_TAG"

          # Export as output for next job
          echo "next_tag=$NEXT_TAG" >> $GITHUB_OUTPUT

  build-and-release:
    runs-on: ubuntu-latest
    needs: determine-next-build
    env:
      BUILD_TAG: ${{ needs.determine-next-build.outputs.NEXT_TAG }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4

        with:
          node-version: '20'



